.footer {
    background-color: #222F33;
}

.footer_text {
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 12px;
    opacity: 0.3;
    color: #FFFFFF;
}

.footer_wrapper {
    padding: 33px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text_wrapper {
    width: 155px;
    display: flex;
    justify-content: space-between;
}